.btn
    width: 170px
    height: 33px
    border-radius: 12px
    background: rgba(212, 46, 41, 1)
    border: none
    a
        text-decoration: none
        color: rgba(255, 255, 255, 1)
        font-family: "Bitter"
        font-weight: 500
        font-size: 14px
.btn1
    display: block
    width: 200px
    height: 50px
    margin: 0 auto
    a
        font-weight: 600
        font-size: 18px
.h2_g
    font-family: "Black Ops One"
    font-weight: 400
    font-size: 150px
    color: rgba(42, 46, 48, 0.05)
    text-align: right
    margin-top: 69px
body
    background: rgba(244, 242, 242, 1)
header
    width: 100%
    height: 80px
    .container
        display: flex
        justify-content: space-between
        align-items: center
        padding: 20px
        h1
            font-family: "Black Ops One"
            font-weight: 400
            font-size: 16px
            color: rgba(245, 198, 67, 1)
            text-transform: uppercase
            margin-bottom: 0
            span
                color: rgba(212, 46, 41, 1)
        nav
            display: flex
            justify-content: space-between
            li
                font-family: "Bitter"
                font-weight: 500
                font-size: 14px
                color: rgba(42, 46, 48, 1)
                list-style: none
                padding-right: 35px
        .social_link
            a
                padding-right: 17px
.icons_wrapper
    margin-top: 133px
    margin-bottom: 213px
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    .icon_element
        width: 350px
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 74px
        p
            font-family: "Bitter"
            font-weight: 500
            font-size: 18px
            color: rgba(42, 46, 48, 1)
            text-align: center
.description
    p
        font-family: "Bitter"
        color: rgba(42, 46, 48, 1)
        font-weight: 600
        font-size: 16px
        text-align: center
        margin-top: 35px
        text-transform: uppercase
    .description_wrapper
        display: flex
        justify-content: space-around
        h2
            font-family: "Bitter"
            font-weight: 700
            font-size: 50px
            color: rgba(245, 198, 67, 1)
            text-decoration: underline
            text-decoration-color: rgba(212, 46, 41, 1)
            text-decoration-thickness: 1px
            text-underline-offset: 10px
        p
            width: 640px
            margin-top: 54px
            font-weight: 300
            font-size: 18px
            line-height: 27px
            text-align: left
            text-transform: none
            text-align: justify
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 120px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px
.for
    p.p_d
        font-family: "Bitter"
        color: rgba(42, 46, 48, 1)
        font-weight: 600
        font-size: 16px
        text-align: center
        margin-top: 35px
        text-transform: uppercase
    h2
        font-family: "Black Ops One"
        font-weight: 400
        font-size: 150px
        color: rgba(42, 46, 48, 0.05)
        margin-top: 130px
        text-align: right
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
    .h3_d::after
        display: inline-block
        content: " "
        width: 70%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 10%
    .elements_wrapper
        width: 60%
        margin: 0 auto
        margin-top: 89px
        .element
            display: flex
            justify-content: space-around
            margin-bottom: 30px
            h4
                font-family: "Bitter"
                font-weight: 600
                font-size: 18px
                color: rgba(212, 46, 41, 1)
            p
                font-family: "Bitter"
                font-weight: 300
                font-size: 18px
                line-height: 27px
                color: rgba(42, 46, 48, 1)
                width: 480px
                height: 135px
                text-align: justify
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 120px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px
.courses
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-top: 228px
        margin-bottom: 108px
    .h3_d::after
        display: inline-block
        content: " "
        width: 65%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 10%
    .img_wrapper
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        .element
            .prov
                background: rgba(212, 46, 41, 1)
            img
                border-radius: 30px
            p
                font-family: "Bitter"
                font-weight: 500
                font-size: 18px
                color: rgba(42, 46, 48, 1)
                text-align: center
                text-transform: uppercase
                margin-top: 27px
                margin-bottom: 67px
    p
        font-family: "Bitter"
        font-weight: 600
        font-size: 16px
        color: rgba(42, 46, 48, 1)
        text-align: center
        text-transform: uppercase
        margin-top:35px
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 100px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px

.programs
    .h2_g
        margin-top: 130px
    h3
        font-family: "Bitter"
        font-weight: 700
        font-size: 50px
        color: rgba(245, 198, 67, 1)
        text-decoration: underline
        text-decoration-color: rgba(212, 46, 41, 1)
        text-decoration-thickness: 1px
        text-underline-offset: 10px
        text-align: center
        margin-bottom: 150px
        text-transform: uppercase
    .element
        display: flex
        justify-content: space-around
        margin-bottom: 47px
        .desc
            width: 350px
            h4
                font-family: "Bitter"
                font-weight: 600
                font-size: 18px
                color: rgba(212, 46, 41, 1)
                text-transform: uppercase
            h5
                font-family: "Bitter"
                font-weight: 700
                font-size: 200px
                color: rgba(245, 198, 67, 0.2)
                text-align: right
        img
            height: 240px
        p
            font-family: "Bitter"
            font-weight: 300
            font-size: 18px
            line-height: 20px
            color: rgba(42, 46, 48, 1)
            width: 460px
            text-align: justify
.divider
    width: 90%
    margin: 0 auto
    height: 1px
    background: rgba(0, 0, 0, 1)
    margin-bottom: 80px
.result
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-top: 158px
        margin-bottom: 58px
    .h3_d::after
        display: inline-block
        content: " "
        width: 50%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 5%
    .information_wrapper
        display: flex
        justify-content: center
        .part
            .element
                p
                    width: 600px
                    font-family: "Bitter"
                    font-weight: 300
                    font-size: 18px
                    color: rgba(42, 46, 48, 1)
                    line-height: 27px
                    text-align: justify
                    span
                        font-weight: 500
        .right_part
            margin-bottom: 40px
            img
                float: right
                margin-bottom: 40px
    p.p_d
        font-family: "Bitter"
        font-weight: 600
        font-size: 16px
        line-height: 20px
        color: rgba(42, 46, 48, 1)
        text-align: center
        text-transform: uppercase
        margin-top: 35px
    .h2_g
        margin-bottom: 20px
        margin-top: 110px
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 100px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px

.video
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-top: 40px
        margin-bottom: 67px
    .h3_d::after
        display: inline-block
        content: " "
        width: 50%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 8%
    .wrapper
        display: flex
        justify-content: center
        margin-bottom: 60px
        iframe
            margin-left: 40px
    p
        width: 730px
        font-family: "Bitter"
        font-weight: 300
        font-size: 18px
        line-height: 27px
        color: rgba(42, 46, 48, 1)
        margin: 0 auto
        text-align: justify
    p.p_d
        font-weight: 600
        line-height: 20px
        text-align: center
        text-transform: uppercase
        margin-top: 35px
        margin-bottom: 16px
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 100px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px

.pay
    h3
        font-family: "Bitter"
        font-weight: 700
        font-size: 50px
        color: rgba(245, 198, 67, 1)
        text-decoration: underline
        text-decoration-color: rgba(212, 46, 41, 1)
        text-decoration-thickness: 1px
        text-underline-offset: 10px
        text-align: center
        margin-bottom: 72px
        text-transform: uppercase
        margin-top: 200px
    .wrapper
        display: flex
        justify-content: space-around
        p
            font-family: "Bitter"
            font-weight: 300
            font-size: 18px
            line-height: 27px
            color: rgba(42, 46, 48, 1)
            text-align: justify
        .left-part
            width:300px
        .right_part
            width: 780px
    span
        font-weight: 600
        color: rgba(245, 198, 67, 1)
        font-size: 30px
    p.p_d
        font-weight: 600
        line-height: 20px
        text-align: center
        text-transform: uppercase
        margin-top: 35px
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 80px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px

.rew
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-top: 190px
        margin-bottom: 67px
    .h3_d::after
        display: inline-block
        content: " "
        width: 55%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 8%
    .element
        display: flex
        justify-content: center
        margin-bottom: 93px
        p
            font-family: "Bitter"
            font-weight: 300
            font-size: 18px
            line-height: 27px
            color: rgba(42, 46, 48, 1)
            margin: 0 40px
            width: 600px
            text-align: justify
            span
                color: rgba(212, 46, 41, 1)
                font-weight: 600
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 150px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px
    p.p_d
        font-weight: 600
        line-height: 20px
        text-align: center
        text-transform: uppercase
        margin-top: 35px
        font-family: "Bitter"
        font-size: 16px

.ques
    .h2_g
        margin-top: 200px
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-bottom: 67px
    .h3_d::after
        display: inline-block
        content: " "
        width: 60%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 8%
    .wrapper
        display: flex
        justify-content: center
        flex-wrap: wrap
        .element
            width: 560px
            margin: 0 40px
            margin-bottom: 78px
            border-bottom: 2px solid
            border-bottom-color: rgba(245, 198, 67, 1)
            h4
                font-family: "Bitter"
                font-weight: 600
                font-size: 18px
                color: rgba(212, 46, 41, 1)
        p
            font-family: "Bitter"
            font-weight: 300
            font-size: 18px
            line-height: 27px
            color: rgba(42, 46, 48, 1)
            text-align: justify
    p.p_d
        font-weight: 600
        line-height: 20px
        text-align: center
        text-transform: uppercase
        margin-top: 35px
        font-family: "Bitter"
        font-size: 16px
    h5
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 64px
        color: rgba(212, 46, 41, 1)
        margin-top: 80px
        span
            color: rgba(42, 46, 48, 1)
            font-size: 40px
            text-decoration-line: line-through
            text-decoration-thickness: 2px
.about
    .wrapper
        display: flex
        justify-content: center
        margin-top: 250px
        .part
            width: 560px
            h3
                font-family: "Bitter"
                font-weight: 700
                font-size: 50px
                color: rgba(245, 198, 67, 1)
                text-decoration: underline
                text-decoration-color: rgba(212, 46, 41, 1)
                text-decoration-thickness: 1px
                text-underline-offset: 10px
                margin-bottom: 72px
                text-transform: uppercase
                margin-bottom: 0
            h4
                font-family: "Black Ops One"
                font-weight: 400
                font-size: 380px
                color: rgba(245, 198, 67, 1)
                line-height: 380px
                span
                    color: rgba(212, 46, 41, 1)
            p
                font-family: "Bitter"
                font-weight: 300
                font-size: 18px
                line-height: 27px
                color: rgba(42, 46, 48, 1)
                margin-top: 30px
                margin-left: 80px
                text-align: justify
.images
    width: 90%
    margin: 0 auto
    margin-top: 50px
    display: flex
    flex-wrap: wrap
    justify-content: center
    img
        margin: 20px
    div
        width: 300px

.form
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-bottom: 100px
        margin-top: 200px
    .h3_d::after
        display: inline-block
        content: " "
        width: 60%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 8%
    .input_cont
        display: flex
        direction: column
        align-items: center
        flex-flow: column wrap
        input
            background: none
            border: none
            border-bottom: 1px solid
            border-bottom-color: rgba(245, 198, 67, 1)
            width: 400px
            margin-bottom: 60px
            padding-bottom: 5px
            outline: none
        input::placeholder
            color: rgba(212, 46, 41, 0.3)
            font-family: "Bitter"
            font-weight: 600
            font-size: 18px
        input:focus
            color: rgba(42, 46, 48, 1)
    button
        background: rgba(245, 198, 67, 1)
        display: block
        border-radius: 12px
        width: 200px
        height: 50px
        margin: 0 auto
        text-align: center
        font-family: "Bitter"
        font-weight: 600
        font-size: 18px
        border: none
        color: #fff
        margin-top: 50px
    .h2_g
        margin-top: 20px
        margin-bottom: 200px

.obu
    h3
        font-family: "Bitter"
        font-weight: 700
        font-size: 50px
        color: rgba(245, 198, 67, 1)
        text-decoration: underline
        text-decoration-color: rgba(212, 46, 41, 1)
        text-decoration-thickness: 1px
        text-underline-offset: 10px
        text-align: center
        margin-bottom: 150px
        text-transform: uppercase
        margin-top: 200px
    .elem
        display: flex
        justify-content: space-around
        margin-bottom: 75px
        .part
            width: 500px
            .text
                display: flex
                justify-content: space-between
                align-items: center
                width: 500px
                margin-bottom: 60px
                h4
                    font-family: "Bitter"
                    font-size: 18px
                    font-weight: 600
                    color: rgba(42, 46, 48, 1)
                    margin-right: 51px
                p
                    font-family: "Bitter"
                    font-weight: 300
                    font-size: 18px
                    color: rgba(42, 46, 48, 1)
                    text-align: justify

.prep
    margin-bottom: 220px
    h3
        font-family: "Bitter"
        font-weight: 600
        font-size: 45px
        color: rgba(245, 198, 67, 1)
        margin-bottom: 107px
    .h3_d::after
        display: inline-block
        content: " "
        width: 60%
        background: rgba(212, 46, 41, 1)
        height: 1px
        margin-left: 8%
    .wra
        display: flex
        justify-content: space-between
        .elem
            margin-right: 40px
            h2
                margin: 10px 0
                font-family: "Bitter"
                font-weight: 600
                font-size: 18px
                color: rgba(0, 0, 0, 1)
            p
                font-family: "Bitter"
                font-weight: 300
                font-size: 18px
                color: rgba(0, 0, 0, 1)
footer
    background-color: rgba(88, 88, 90, 1)
    height: 399px
    padding: 0 122px
    padding-top: 88px
    .wrapper
        display: flex
        justify-content: space-between
        font-family: "Bitter"
        font-weight: 300
        font-size: 16px
        line-height: 24px
        color: rgba(255, 255, 255, 1)
        .linkss
            font-weight: 500
        .social_linkss
            font-family: "Black Ops One"
            font-weight: 400
            text-transform: uppercase
            .s_l
                width: 95px
                margin: 0 auto
                margin-top: 20px
                .w
                    margin-right: 15px